<div class="container">
  <h1>Edit your profile</h1>
  <% if @user.attendee? %>
    <%= simple_form_for(current_user) do |f| %>
      <%= f.input :first_name, required: true, label: 'First name', error: 'Adding a first name is mandatory' %>
      <%= f.input :last_name, required: true, label: 'Last Name', error: 'Adding a last name is mandatory' %>
      <%= f.input :avatar, required: true, label: 'Upload your avatar', error: 'Uploading an Avatar is mandatory' %>
      <%= f.button :submit, "Save changes" %>
    <% end %>
  <% elsif @user.organizer? %>
      <%= simple_form_for(current_user) do |f| %>
      <%= f.input :organizer_name, required: true, label: 'Your oraganization name', error: 'Adding an oraganization name is mandatory' %>
      <%= f.input :avatar, required: true, label: 'Your avatar name', error: 'Uploading an Avatar is mandatory' %>
      <%= f.button :submit, "Save changes" %>
    <% end %>
  <% end %>
</div>
