<div class="container">
  <% if @user.attendee? %>
    <h1>Your profile (<%= @user.user_type %>)</h1>
    <p>First name : <%= @user.first_name.capitalize %></p>
    <p>Last name: <%= @user.last_name.capitalize %></p>
    <p>Avatar URL: <%= @user.avatar %></p>

  <% elsif @user.organizer? %>
    <h1>Your profile (<%= @user.user_type %>)</h1>
    <p>Organisation : <%= @user.organizer_name %></p>
    <p>Avatar URL: <%= @user.avatar %></p>
  <% end %>

  <%= link_to 'Update profile', edit_user_path(@user), class: 'btn btn-primary' %>
  <% if @user.organizer? %>
    <%= link_to 'create event',  new_user_event_path(@user), class: 'btn btn-primary' %>
  <% end %>
</div>
