<div class="container">
  <% if @user.user_type == "Attendee" %>
    <h1><%= @user.user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>



  <% elsif @user.user_type == "Organizer" %>
    <h1><%= @user.organizer_name %> (<%= @user.user_type %>)</h1>
    <%= link_to 'create an event', new_user_event_path(@user), class: 'btn btn-primary' %>
  <% end %>
<!--   <h3>Your events:</h3>
  <%# @user.events do |event| %>
    <p><%#= event.title %></p>
  <%# end %>
</div>
 -->

