<div class="mb-5 card" style="<%= "filter: saturate(0%);"  if event.start_time.past?  %>">
  <%= link_to event_path(event), class: 'special' do %>
    <div class="card-trip">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key %>
        <% end %>
      <div class="card-trip-infos">
        <div class="details-trip">
          <p><%= event.start_time %></p>
          <div class="details-trip-details">
            <h2><%= event.title %></h2>
            <p><%= event.user.organizer_name %></p>
          </div>
          <p><i class="fas fa-map-marker-alt"></i> <%= event.location %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
