<div class="container-form">

  <%= simple_form_for @event do |f| %>
    <%= f.input :title, label: 'Title', required: true, error: 'Adding a title is mandatory'%>
    <%= f.input :description, label: 'Description', required: true, error: 'Adding a description is mandatory' %>
    <%= f.input :location, label: 'Event location', required: true, error: 'Adding a location is mandatory' %>
    <%= f.input :photo, as: :file, required: true %>
    <div class="flex-container">
      <%= f.input :food, as: :select,
        collection: ["None", "Free", "Paid"], required: true, error: 'Please indicate whether food will be offered at the event'%>
      <%= f.input :drink, as: :select,
        collection: ["None", "Free", "Paid"], required: true, error: 'Please indicate whether drinks will be offered at the event' %>
    </div>

    <%= f.input :number_max_of_attendees, required: true, label: 'Maximum number of attendees', error: 'number_max_of_attendees error' %>
    <%= f.input :stake, label: 'Stake', required: true, error: 'Please provide a stake sum as an integer' %>
    <%= f.input :start_time, label: 'Start time', required: true, error: 'Selecting a start time for the event is mandatory' %>
    <%= f.input :end_time, label: 'End time', required: true, error: 'Selecting an end time for the event is mandatory' %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>

