<div>
    <div>

<%= simple_form_for @event do |f| %>
  <%= f.input :title, label: 'Specify your title', error: 'title is mandatory, specify one'%>
  <%= f.input :description, label: 'Specify your description', error: 'description is mandatory, specify one' %>
  <%= f.input :location, label: 'Specify your location', error: 'location is mandatory, please specify one' %>
  <%= f.input :banner, label: 'Specify your banner', error: 'banner is mandatory, specify one' %>
  <%= f.input :food, label: 'food', error: 'food error' %>
  <%= f.input :drink, label: 'drink', error: 'drink error' %>
  <%= f.input :number_max_of_attendees, label: 'number_max_of_attendees', error: 'number_max_of_attendees error' %>
  <%= f.input :stake, label: 'stake', error: 'stake error' %>
  <%= f.input :start_time, label: 'start_time', error: 'start_time error' %>
  <%= f.input :end_time, label: 'end_time', error: 'end_time error' %>

  <%= f.button :submit %>
<% end %>
</div>
</div>
