<div class="top-line">
  <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @event.photo.key %>');"></div>
  <div class="description">
    <div class="container">
      <div class="title">
        <p><%= @event.title %></p>
      </div>
      <p><i class="far fa-clock"></i> <%= @event.start_time.strftime("%a, %d %b %Y") %> || <%= @event.start_time.to_s[-12..-8] %> <i class="fas fa-arrow-right"></i> <%= @event.end_time.to_s[-12..-8] %></p>
      <p><i class="fas fa-user-astronaut"></i> <%= @event.user.organizer_name %></p>
      <p><i class="fas fa-coins"></i> <%= @event.stake %> €</p>

      <% if !@user %>
        <%= link_to 'Login', new_user_session_path(), class: 'btn btn-primary' %>
      <% elsif @ticket.present? && @ticket.attendee? %>
        <p><i class="fas fa-check"></i> Attending this event</p>
        <div class="my-5">
          <%= link_to 'Cancel', event_mark_as_cancelled_path(@event, @ticket), class: 'btn btn-danger', method: :patch, data: { confirm: 'Are you sure to delete your ticket ?' } %>
        </div>
      <% elsif current_user.attendee? && (@ticket.nil? || (!@ticket.attendee? && !@ticket.showup?)) %>
        <div class="my-5">
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'event_id', @event.id %>
            <%= submit_tag 'Attend', class: 'btn btn-primary' %>
          <% end %>
            <%= render 'countdown' %>
        </div>
      <% end %>

      <% if !@user %>
      <% elsif @user.organizer? %>
      <div class="my-5">
        <% if current_user.organizer? && current_user.organized_events.include?(@event) %>
          <%= link_to "Edit the event", edit_event_path(@event), class: 'btn btn-primary' %>
          <%= link_to "Manage attendees", event_tickets_path(@event), class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="bottom-line">
    <div class="title-and-description">
      <p><%= @event.description %></p>
    </div>
    <div class="infos-pratiques">
      <p><i class="fas fa-map-marker-alt" ></i> <%= @event.location %></p>
      <p><i class="fas fa-utensils"></i> <%= @event.food %></p>
      <p><i class="fas fa-glass-martini-alt"></i> <%= @event.drink %></p>
      <p><i class="fas fa-user-friends"></i> <%= @available_tickets %> / <%= @event.number_max_of_attendees %> Attendees </p>
    </div>
    <div class="share-some">
          <%= social_share_button_tag(@event.title) %>
  </div>
  </div>
</div>

