<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @event.banner %>);">
  <div class="event-show">
    <div class="container">
      <div class="mb-5">
          <h1><%= @event.title %></h1>
      </div>
      <h3>Event details</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="mb-5">
    <h1>Event details</h1>
  </div>
  <!-- <p>Title: <%#= @event.title %></p>
  <p>Description: <%#= @event.description %></p>
   -->

<!--
  please make sure to show TYPE of food + drink below, if present
-->

  <p><i class="fas fa-map-marker-alt" ></i> <%= @event.location %></p>
  <p><i class="fas fa-utensils"></i> <%= @event.food %></p>
  <p><i class="fas fa-glass-martini-alt"></i> <%= @event.drink %></p>
  <p>Number max of attendees: <%= @event.number_max_of_attendees %></p>
  <p>Stake: <%= @event.stake %> €</p>
  <p><i class="fas fa-hourglass-start"></i> From <%= @event.start_time %> to <%= @event.end_time %></p>
  <p>Organizer: <%= @event.user.organizer_name %></p>

  <% if @ticket.present? && @ticket.attendee? %>
    <p><i class="fas fa-check"></i> I attend this event</p>
    <div class="my-5">
      <%= link_to 'Cancel', event_mark_as_cancelled_path(@event, @ticket), class: 'btn btn-danger', method: :patch %>
    </div>
  <% else %>
    <p><i class="far fa-times-circle"></i> I don't attend this event</p>
    <div class="my-5">
      <%= link_to 'Attend', event_tickets_path(@event), class: 'btn btn-primary', method: :post %>
    </div>
  <% end %>

  <% if @user.organizer? %>
  <div class="my-5">
    <%= link_to "Edit the event", edit_event_path(@event), class: 'btn btn-primary' %>
    <%= link_to "Manage attendees", event_tickets_path(@event), class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>

