<div class="container-form">
  <% if current_user.attendee? %>
    <%= simple_form_for(current_user) do |f| %>
      <%= f.input :first_name, required: true, label: 'First name', error: 'Adding a first name is mandatory' %>
      <%= f.input :last_name, required: true, label: 'Your last name', error: 'Adding a last name is mandatory' %>
      <%= f.input :avatar, as: :file, required: true, label: 'Upload your avatar image', error: 'Uploading an avatar image is mandatory' %>
      <%= f.button :submit, "Save" %>
    <% end %>
  <% elsif current_user.organizer? %>
      <%= simple_form_for(current_user) do |f| %>
      <%= f.input :organizer_name, required: true, label: 'Your oraganization name', error: 'Adding an oraganization name is mandatory' %>
      <%= f.input :avatar, as: :file, required: true, label: 'Upload your avatar image', error: 'Uploading an avatar image is mandatory' %>
      <%= f.button :submit, "Save" %>
    <% end %>
  <% end %>
</div>
