<div class="banner mb-5" style="background-image: <%= image_tag 'imhome.jpeg' %>, linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); background-position: bottom -100px right 0px">
  <div class="container">
    <h3>Boost attendence for your free events</h3>
    <p class="bannertext">By using stake, Showup incentivizes a higher attendance rate to your free events</p>

    <% if !current_user %>
    <div class="button-start-home">
      <%= link_to 'Start now', new_user_registration_path, class: 'btn btn-primary' %>
      </div>
    <% elsif current_user.attendee? %>
      <div class="search-form-home">
        <%= render './events/search_bar' %>
      </div>
    <% elsif current_user.organizer? %>
      <div class="button-create-home">
        <%= link_to "Create a new event", new_event_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

  <div class="container">
      <h2> This is how show-up works</h2>
        <div class="home-cards col-sm" style="padding-bottom: 30px; display: flex; justify-content: center;">
          <%= image_tag 'Showup pitch.png' %>
        </div>

<div class="container">
  <h3> Events that might interest you</h3>
  <div class="row">
    <% Event.all.sample(3).each do |event| %>
      <div class="home-cards col-sm-4">
        <%= render "events/event_card", event: event %>
      </div>
    <% end %>
  </div>
</div>

