<div class="container">
  <% if current_user.user_type == 'Attendee' %>
    <%= simple_form_for(current_user) do |f| %>
      <%= f.input :first_name, label: 'Your first name please', error: 'first name is mandatory, please specify one' %>
      <%= f.input :last_name, label: 'Your last name please', error: 'last name is mandatory, please specify one' %>
      <%= f.input :avatar, label: 'Your avatar please', error: 'Avatar is mandatory, please specify one' %>
      <%= f.button :submit, "Send informations" %>
    <% end %>
  <% elsif current_user.user_type == 'Organizer' %>
      <%= simple_form_for(current_user) do |f| %>
      <%= f.input :organizer_name, label: 'Your oraganization name please', error: 'oraganization name is mandatory, please specify one' %>
      <%= f.input :avatar, label: 'Your avatar name please', error: 'Avatar is mandatory, please specify one' %>
      <%= f.button :submit, "Send informations" %>
    <% end %>
  <% end %>
</div>
