<div class="container">
    <h1><%= @event.title %></h1>
    <p><%= @event.start_time.strftime("%a, %d %b %Y") %></p>
    <h2>Attendees - <%= @event.tickets.select { |ticket| ticket.showup? }.count %> / <%= @event.tickets.size %></h2>
    <div class="row">
    <% @event.tickets.sort_by { |ticket| ticket.user.last_name }.each do |ticket| %>
      <div class="user-event-status">
        <div class="status">
          <% if ticket.status.nil? %>
            <i class="fas fa-check"></i>
            <i class="fas fa-times"></i>
          <% else %>
            <% if !ticket.showup? %>
              <%= link_to event_mark_as_showed_path(@event, ticket), method: :patch do %>
              <i class="fas fa-check" style='color: lightgrey !important; font-size: 2vw;'></i>
            <% end %>
            <i class="fas fa-times" style = 'color: red; font-size: 2vw;'></i>
          <% elsif ticket.showup? %>
            <i class="fas fa-check" style="color = green; font-size: 2vw;"></i>
              <%= link_to event_mark_as_attendee_path(@event, ticket), method: :patch do %>
            <i class="fas fa-times" style='color: lightgrey !important; font-size: 2vw;'></i>
          <% end %>
          <% end %>
          <% end %>
        </div>
        <div class="users-details">
          <%= ticket.user.last_name %> <%= ticket.user.first_name %>
        </div>
      </div>
    <% end  %>
    </div>
    <%= link_to 'Back to event', event_path(@event), class: "btn btn-flat" %>
    <% if !@event.closed? && @event.end_time > DateTime.current.to_date %>
      <%= link_to 'Finalize event', event_event_over_path(@event), method: :patch, class: 'btn btn-primary', data: { confirm: 'By finalizing the event, you confirm the attendance list. Finalizing the event is irreversible.' } %>
    <% end %>
  </div>
</div>

